# This is the Minecraft EULA file.
# By setting the eula variable to true, you indicate acceptance of Mojang’s EULA.
# See https://account.mojang.com/documents/minecraft_eula for details.
eula={{ eula_value }}

